
/* LawTool */
.tool-frame{
    padding-right: 200px;
    position: absolute;
    width: 100%;
    top:150px;
    height: 100px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight:bolder;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000069;

}
.font-tool{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.tool-frame span{
    margin-top: 5px;
    margin-right: 10px;
}

.font-tool .ui.buttons .button {
    border: 3px solid #A99D9D;
    background-color: rgba(240, 255, 255, 0);
    margin: 5px;
    font-size: 30px;
    padding: 6px;
}
.read-tool{
    display: flex;
    align-items: center;
    margin: 10px;
}
.read-tool .ui.buttons{
    margin: 5px;

}

/* LawHeader */

.LawHeader-frame{
    width: 80%;
    margin: 20px auto;
    margin-top:300px;
    background-color: rgba(217, 230, 195, 0.6);
    border-radius: 20px;
    padding: 30px 20px 20px;
}
.LawHeader-frame header{
    margin-bottom: 40px;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight:bolder;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;

}

.LawHeader-frame span{
    margin-left: 15px;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
}

/* LawChapter */
.lawchapter-frame{
    width: 80%;
    margin: 40px auto;
}

.lawchapter-frame .ui.button{
    margin:10px 10px auto;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight:bolder;
    text-align: left;
    color: #00000069;
   
}
.ui.button.section{
    background-color:#FDFAF4; 
    margin: 10px; 
}

.LawMain-chapter{
    margin:50px 0px auto;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight:bolder;
    letter-spacing: 0em;


}
.LawMain-section{
    color: rgb(43, 114, 93);
    margin:50px 0px auto;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 0em;

}

.LawMain-frame{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.LawMain-item{
    display: flex;
    justify-content:space-between;
    margin-top:50px;
    border: 3px solid #00000044;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    

}
.FontLarge{
    font-size: 4em;
}
.FontMid{
    font-size: 3.5em;
}
.FontSmall{
    font-size: 3em;
}

.LawMain-item header{
    margin: 20px;
    font-weight: bold;
    
}
.LawMain-item p{
    padding: 20px;
    line-height: 60px;
    word-wrap: break-word;
    white-space:pre-wrap;
}
.LawMain-frame i{
    cursor: pointer;
    margin-right: 10px;

}
i.arrow.circle.icon{
    color: rgb(146, 129, 54);
    position: fixed;
    bottom: 100px;
    left: 15px;
    cursor: pointer;
    display: inline-block;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.2))
    
    

}
.gray.bookmark.icon{
    color: rgb(92, 90, 89);
}
.arrowIcon{
    width: 100px;
}


  @keyframes example {
    0% {transform:translateY(0%)}
    50% {transform:translateY(10%)}
  }


