
.laws-list-frame{
    margin: 50px 50px 50px 50px;
}

.page-btn{
    margin-top: 200px;
    margin-left: 50px;
    display: flex;
    justify-content: start;
}

.page-info{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight:600;
    color: rgb(82, 58, 8);

}
.page-info .now{
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background: #BADA55;
    display: flex;
    align-items: center;
}


.ui.table thead th {
    border-bottom: 1rem solid red;
    background-color:rgba(71, 123, 114, 0.49);
    height: 50px;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight:bolder;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    border:none;

}
tr{
    margin-top: 10px;
    text-align: center;
    width: 800px;
}
td{
    width: 1000px;
    font-family: sans-serif;
    font-size: 25px;
    cursor: pointer;
    font-style: normal;
    font-weight:600;
    line-height: 30px;
    letter-spacing: 0em;
    background-color:rgba(197, 227, 225, 0.24);
    
}
.ui tr{
    position: relative;
}
.ui tr i{
    z-index: 2;
    display: block;
    position:absolute;
    top:0px;
    left: 0px;
    margin: 10px;

} 


.talbe-row{
    margin: 30px;
}

.ui .talbe{
    margin:0px
}
td{
    background-color: rgba(240, 255, 255, 0);
}