body{
    margin: 0px;
    padding: 0px;
}



.member-frame-card{
    background-color: rgb(10, 61, 109);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    line-height: 42px;
    letter-spacing: 0em;
    color: cornsilk;
    position: relative;

}
.alert{
    color: rgb(247, 208, 208);
    font-weight: bold;
}
.close.icon{
    position: absolute;
    top:5px;
    right: 5px;
    text-decoration: none;
    color: rgb(199, 199, 195);
}
.member-frame-card h1{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    font-weight: bolder;
    font-size: 40px;
}
.member-frame-card form{
    width: 80% !important;
}
.form-group{
    text-align: left;
    margin-top:20px !important;
}
.form-control{
    height: 40px !important;
    font-size: 30px !important;
    line-height: 42px !important; 
}


.member-frame-card button{
    font-size: 25px !important;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
}
.member-note{
    padding: 10px;
    font-family: Roboto;
    font-size: 25px;
    text-align: center;
    font-style: normal;
    line-height: 42px;
    letter-spacing: 0em;
    color: rgb(3, 3, 3);
    font-weight: bold;
}

