.MyNote-frame{
    margin: auto;
    margin-top: 210px;
    margin-bottom: 50px;
    display: flex;
    width:95vw;
    height: 75vh;
    justify-content:space-evenly;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
}

.NoteList{
    width: 20%;
    height: 100%;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;

}
.show{
    display: block;
}
.hide{
    display: none !important;
}
.noteMain-frame{
    border: 1px solid;
    height: 100%;
    background-color: rgba(199, 188, 188, 0.19);
    width: 75%;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.noteInfo-frame{
    height: 100%;
    width: 75%;

}

.NoteMain{
    height: 100%;
}

.note-list-frame{
    text-decoration: none;
}
.trash.alternate{
    position: absolute;
    bottom:8px;
    right: 18px;
    font-size: 35px;
    cursor: pointer;
}
.info.circle.icon{
    position: absolute;
    bottom:19px;
    right: 55px;
    cursor: pointer;

}

.notelist-frame{
    height: 170px;
    overflow: hidden;
}
.note-time{
    position: absolute;
    font-size: 5px;
    font-weight:lighter;
    bottom: 10px;
    left: 20px;
    color: rgb(4, 43, 80);
    width: 150px;
}
.MyNote-frame p{
    font-size: 28px;
}
.MyNote-frame h1{
    font-size: 36px;
    font-weight: bolder;
}

.MyMainLaw{
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 10px;
    background-color: rgba(173, 182, 120, 0.56);
    border-radius: 6px;
    padding: 20px;
    overflow: scroll;
    height: 250px;
    
}
.MyMainNote{
    flex:auto; 
    margin: 10px;
    border-radius: 6px;
    background-color:rgba(229, 229, 229, 1);
    padding: 20px;
    position: relative;
    height: 650px;

}
.textarea:focus{
    outline: none;
}
.textarea{
    font-size: 28px;
    height: 330px;
    margin:10px;
    width: 900px;
    resize: none;
    background-color: rgba(0, 0, 0, 0); 
    border-color: rgba(0, 0, 0, 0);

}
.MyMainNote-btn{
    
    background-color: #455CD0;
    color:#FDFAF4;
    width: 130px;
    height: 50px;
    font-size: 28px;
    font-weight: bolder;
    border: none;
    position: absolute;
    right: 30px;
    top:25px;
}
.MyMainNote-btn:hover{
    box-shadow: 0 0 2px #161511;
    border: 1px solid rgb(53, 51, 48);
}
.MyMainNote-col{
    position: absolute;
    right: 30px;
    bottom:25px;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.MyMainNote-type{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(73, 71, 71);
}
.MyMainNote-type:hover{
    transform: scale(1.2);
}
.MyMainNote-col1{
    background-color:#83DEDE;
}
.MyMainNote-col2{
    background-color:#F5E763;
}
.MyMainNote-col3{
    background-color:#F3C3A1;
}
.MyMainNote-col4{
    background-color:#FF8989;
}
.col-focus{
    border:8px solid rgba(98, 98, 105, 0.9);
    transform: scale(1.2);
}

.item {
    position: relative;
    height: 280px;
    width: 95%;
    margin-bottom: 10px;
    line-height: 20px;
    overflow: hidden;
    color: rgb(73, 80, 80);
    padding: 20px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
.pointing.menu{
    width: 100%;
    height: 100px; 
    display: flex;
    align-items: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em; 
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(248, 248, 244);
}

.label{
    width: 200px;
    height: 90px;
}
.ui.segment{
    height: 800px;
    padding: 50px;
    overflow:scroll;
}